<figure class="tcn-home-fullSize">
  <h1 class="tcn-slogan">Believe In <br> Yourself</h1>
  <div class="tcn-group-donate">
    <a class="tcn-donate-link" routerLink="/dons">
      <h2 class="tcn-donate">Faire un don</h2>
      <figure class="tcn-icon-donate"></figure>
    </a>
  </div>
  <app-networks class="tcn-networks-top tcn-home-networks"></app-networks>
</figure>

<div class="container tcn-home-articles justify-content-md-center">
  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="tcn-home-team-container">
    <div class="row justify-content-md-center">
      <div class="col-12 tcn-home-team-title">
        <h1>Bureau</h1>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-12 tcn-home-team-title">
        <h1>Pole bla bla</h1>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
      <div class="p-4 tcn-home-team-article col-12 col-lg-3 col-md-6">
        <img class="mb-3" src="assets/images/personne.svg">
        <h3 class="tcn-home-title">Happiness Manager</h3>
        <h2 class="tcn-home-name">Jean Dupont</h2>
      </div>
    </div>
    </div>

</div>
