<figure class="tcn-home-fullSize"></figure>

<div class="container tcn-home-articles justify-content-md-center">
  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
  </div>

  <div class="tcn-home-separator"></div>

  <div class="row justify-content-md-center tcn-home-article">
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <h2 class="tcn-home-article-title">First point</h2>
      <p class="tcn-home-article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor at congue neque ut tellus leo eget. Sem sem ipsum at lectus fermentum leo aenean cursus.</p>
    </div>
    <div class="col-lg-6	col-md-12 tcn-home-col">
      <img class="tcn-home-article-image" src="assets/images/article_image.svg">
    </div>
  </div>

</div>
