.tcn-navbar{
  z-index: 5;
  background-color: $lowlow !important;
  height: 90px;
  font-family: "Segoe UI";
  .navbar-text{
    color: $secondary;
  }
  .navbar-nav{
    margin-left: 100px;
  }
  .navbar-brand{
    position: fixed;
    top: 2px;
    left: 15px;
    z-index: 100;
    .tcn-image{
      width: 80px;
    }
  }
  .tcn-navbar-hide{
    display: none;
  }
  .navbar-toggler-ico{
    color: $secondary;
  }
  .tcn-navbar-accountLogo{
    background-image: url("../assets/icons/account.svg");
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain;
    margin-left: 10px;
  }
  .tcn-nav-item {
    .nav-link, .dropdown-item, .dropdown-toggle::after, .nav-link:hover, {
      color: $secondary;
    }
  }
}


.tcn-footer{
  height: 50px;
  background-color: $lowlow !important;
  .tcn-footer-description{
    display: flex;
    text-align: center;
    width: max-content;
    margin: auto;
    color: $primary;
    padding-top: 10px;
    font-size: 15px;
    font-family: $fontText;
  }
  .tcn-icon-email{
    background-image: url("../assets/icons/ion_mail.svg");
    height: 25px;
    width: 25px;
    background-size: contain;
  }
  .tcn-footer-networks{
    position: absolute;
    right: 20px;
  }
}



@media (max-width: 992px) {
  .tcn-navbar{
    height: max-content !important;
  }
  .tcn-navbar-show{
    display: none !important;
  }
  .tcn-navbar-hide{
    display: inline-block !important;
  }
  .navbar-brand{
    position: initial !important;
  }
  .navbar-nav{
    margin-left: 0px!important;
  }
}
