<nav class="navbar navbar-expand-lg navbar-light bg-light tcn-navbar">
  <a class="navbar-brand" routerLink="">
    <img src="assets/logo/logo_tcn.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown tcn-nav-item">
        <a class="nav-link dropdown-toggle" routerLink="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nos services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Service 1</a>
          <a class="dropdown-item" routerLink="">Service 2</a>
          <a class="dropdown-item" routerLink="">Service 3</a>
        </div>
      </li>
      <li class="nav-item dropdown tcn-nav-item">
        <a class="nav-link dropdown-toggle" routerLink="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nos cours
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Annales</a>
          <a class="dropdown-item" routerLink="">QCM</a>
          <a class="dropdown-item" routerLink="">fiches</a>
        </div>
      </li>
      <li class="nav-item tcn-nav-item">
        <a class="nav-link" routerLink="/dons">Don / Boutique</a>
      </li>
      <li class="nav-item tcn-nav-item tcn-navbar-hide">
        <a class="nav-link" routerLink="">Mon compte</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text tcn-navbar-show">Ronald Richards</span>
  <figure class="tcn-navbar-accountLogo tcn-navbar-show"></figure>
</nav>

<router-outlet></router-outlet>

<footer class="tcn-footer">
  <div class="tcn-footer-description">
    <p class="tcn-footer-text mr-1">Nous contacter </p>
    <span class="tcn-icon-email mr-1 mb-1"></span>
    <p class="tcn-footer-text mr-1"> / Nos </p>
    <p class="tcn-footer-text tcn-footer-text-green"> partenaires</p>
  </div>
</footer>
