.tcn-network-icon{
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tcn-icon-discord{
  background-image: url("../../../assets/icons/discord.svg");
}

.tcn-icon-instagram{
  background-image: url("../../../assets/icons/instagram.svg");
}

.tcn-icon-facebook{
  background-image: url("../../../assets/icons/facebook.svg");
}
