/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$primary:#69000F;
$secondary:#193200;
$low:#FFD3AE;
$lowlow:#F1E3D2;
$white:#FFFFFF;
$fontTitle:Verdana;
$fontText:Arial;

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

@import 'app/app.component';
@import 'app/feature/home/home.component';
@import "app/utils/networks/networks.component";
